<h1 style="text-align:center; color:#005bbd; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">
   Column, Variable and Attribute
</h1>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
      Ye 3 terms data analysis aur machine learning mein use hoti hain.<br>
Context ke mutabiq inka meaning thora different hota hai, lekin aik dosray se related hain.
    </div>
</body>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
     <ul><li>Column:
        <ul>Column ek structured dataset (e.g., Pandas DataFrame, SQL Table, Excel) mein ek vertical section hota hai jo ek specific type ki information store karta hai.<br>Har column ek specific <b>variable</b> ya <b>attribute</b> ko represent karta hai
    </div>
</body>

In [2]:
import pandas as pd

data = {
    "Student": ["Ali", "Ayesha", "Ahmed"],
    "Age": [20, 21, 22],
    "Marks": [85, 86, 87]
}

df = pd.DataFrame(data)
df

  Student  Age  Marks
0     Ali   20     85
1  Ayesha   21     86
2   Ahmed   22     87

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
     <ul>
         Columns:
         <ul> "Student", "Age", "Marks"</ul>
        Rows:
         <ul> Har student ka ek record</ul>
         </div><hr>
</body>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
     <ul><li>Attribute:
        <ul>Attribute ek object ka specific characteristic hota hai.<br>
            Machine Learning aur Databases mein, ek attribute kisi column ka ek record ya kisi entity ka ek feature hota hai.<br>
    </div>
</body>

In [21]:
df

  Student  Age  Marks
0     Ali   20     85
1  Ayesha   21     86
2   Ahmed   22     87

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
     <ul>
         Student Ali:
         <ul> Age (Attribute) 20</ul>
         <ul> Marks (Attribute) 85</ul>
         </div>
</body>

In [17]:
df[df["Student"] == 'Ali']

  Student  Age  Marks
0     Ali   20     85

<img src="./images/col_attr.png" style="width: 60%; display: block; margin-left: auto; margin-right: auto;">

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
     <ul><li>Variable:
        <ul>Variable ek mathematical aur statistical term hai jo kisi cheez ko represent karta hai.<ul>
            <li>Dataset mein har column ek variable hota hai.</li>
            <li>Machine Learning mein, variables ko 2 types mein divide kiya jata hai:</li><br>
            <ul><li>Independent Variable (Features)</li>
                <ul><li>Independent Variables â†’ Inputs jo prediction ko affect karte hain.</li></ul><br>
            <li>Dependent Variable (Target/Label)</li>
                <ul>Output jo model predict karta hai</ul>
            </ul>
    </div>
</body>

In [22]:
df

  Student  Age  Marks
0     Ali   20     85
1  Ayesha   21     86
2   Ahmed   22     87

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
     <ul>Agar hum ek regression model banayein jo "Age" ki base par "Marks" predict kare, to "Age" independent variable hoga aur "Marks" dependent variable ya target variable hoga!
         </div>
</body>

In [63]:
target_dependent_variable = df[["Marks"]]
target_dependent_variable

   Marks
0     85
1     86
2     87

In [64]:
independent_feature = df[["Age"]]
independent_feature

   Age
0   20
1   21
2   22

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
model = LinearRegression()
model.fit(independent_feature,target_dependent_variable)

LinearRegression()

In [13]:
new_data = pd.DataFrame({"Age":[23,24,25]})
new_data

   Age
0   23
1   24
2   25

In [14]:
pred = model.predict(new_data)
pred_marks = pd.DataFrame(pred,columns=["Marks"],dtype=int)
pred_marks

   Marks
0     88
1     89
2     90

In [15]:
pd.concat([pd.DataFrame({"Student":[1,2,3]}),new_data,pred_marks],axis=1)

   Student  Age  Marks
0        1   23     88
1        2   24     89
2        3   25     90

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
     <ul>Yahan Age aur Marks ko alag kia gaya hai.<br>
         Age ko Feature kaha gaya hai jo ke Independent hai.<br>
        Aur Marks, Age par depend kar rahe hain.<br><br>
        Agar Age baray gi to Marks bhi change ho gn.
<br><br>Yahan Age ko Feature liya gaya hai aur Marks ko Target ya Label ke tor par liya gaya hai.<img src="./images/variables.png" style="width: 60%; display: block; margin-left: auto; margin-right: auto;">
         </div>
</body>

<h1 style="text-align:center; color:#005bbd; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">
   Univariate Data
</h1>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
     Univariate Data woh data hota hai jisme sirf 1 variable (Feature) hota hai.<br>
Iska analysis simple hota hai kyunki sirf ek column ya attribute ko study kiya jata hai.
    </div>
</body>

In [16]:
data = {
    "Age": [18, 19, 20, 21, 22, 23, 24, 25, 26, 27],
    "Marks": [70, 72, 75, 78, 80, 82, 85, 87, 89, 91]
}
df = pd.DataFrame(data)
df

   Age  Marks
0   18     70
1   19     72
2   20     75
3   21     78
4   22     80
5   23     82
6   24     85
7   25     87
8   26     89
9   27     91

In [17]:
df[["Age"]] # Feature

   Age
0   18
1   19
2   20
3   21
4   22
5   23
6   24
7   25
8   26
9   27

In [18]:
df[["Marks"]] # Target / Label

   Marks
0     70
1     72
2     75
3     78
4     80
5     82
6     85
7     87
8     89
9     91

<h1 style="text-align:center; color:#005bbd; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">
   Bivariate Data
</h1>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
    Agar dataset mein 2 independent variables (features) hoon, to usay Bivariate Data kehtay hain.<br>
Bivariate Regression ka matlab hota hai do variables ke base par target variable predict karna.
    </div>
</body>

In [19]:
data = {
    "Age": [18, 19, 20, 21, 22, 23, 24, 25, 26, 27],
    "Study_Hours": [2, 2.5, 3, 3.5, 4, 4.5, 5, 5.5, 6, 6.5],
    "Marks": [60, 65, 70, 75, 78, 82, 85, 88, 90, 92]
}

# DataFrame bana lo
df = pd.DataFrame(data)

df

   Age  Study_Hours  Marks
0   18          2.0     60
1   19          2.5     65
2   20          3.0     70
3   21          3.5     75
4   22          4.0     78
5   23          4.5     82
6   24          5.0     85
7   25          5.5     88
8   26          6.0     90
9   27          6.5     92

In [111]:
# Independent Variables (Features)
X = df[["Age", "Study_Hours"]]  # 2 features hain (Age, Study Hours)

X

   Age  Study_Hours
0   18          2.0
1   19          2.5
2   20          3.0
3   21          3.5
4   22          4.0
5   23          4.5
6   24          5.0
7   25          5.5
8   26          6.0
9   27          6.5

In [113]:
# Dependent Variable (Target)
y = df[["Marks"]]
y

   Marks
0     60
1     65
2     70
3     75
4     78
5     82
6     85
7     88
8     90
9     92

<h1 style="text-align:center; color:#005bbd; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">
   Multivariate Data
</h1>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
    Jab 3 ya zyada independent variables (features) ek target variable ko affect karte hain,
to isay Multivariate Data kehtay hain.
<br>
Multivariate Regression ka matlab hota hai multiple independent variables ke base par ek target variable predict karna.
    </div>
</body>

In [114]:
data = {
    "Age": [18, 19, 20, 21, 22, 23, 24, 25, 26, 27],
    "Study_Hours": [2, 2.5, 3, 3.5, 4, 4.5, 5, 5.5, 6, 6.5],
    "Attendance": [75, 80, 85, 87, 90, 92, 94, 96, 98, 100],
    "Marks": [60, 65, 70, 75, 78, 82, 85, 88, 90, 92]
}

df = pd.DataFrame(data)

df

   Age  Study_Hours  Attendance  Marks
0   18          2.0          75     60
1   19          2.5          80     65
2   20          3.0          85     70
3   21          3.5          87     75
4   22          4.0          90     78
5   23          4.5          92     82
6   24          5.0          94     85
7   25          5.5          96     88
8   26          6.0          98     90
9   27          6.5         100     92

In [115]:
# Independent Variables (Features)
X = df[["Age", "Study_Hours", "Attendance"]]

X

   Age  Study_Hours  Attendance
0   18          2.0          75
1   19          2.5          80
2   20          3.0          85
3   21          3.5          87
4   22          4.0          90
5   23          4.5          92
6   24          5.0          94
7   25          5.5          96
8   26          6.0          98
9   27          6.5         100

In [118]:
# Dependent Variable (Target)
y = df[["Marks"]]
y

   Marks
0     60
1     65
2     70
3     75
4     78
5     82
6     85
7     88
8     90
9     92

<h1 style="text-align:center; color:#005bbd; font-size:20px; font-family:Sans-serif; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px Black;">
   Multi-Target
</h1>

<body style="font-family: Sans-serif;">
    <div style="color: black; font-size: 18px; font-style: oblique; text-shadow: 0 0 3px white, 0 0 1px black; padding: 20px;">
    Jab 1 ya zyada independent variables ke base par ek se zyada dependent variables predict karne hon, to isay Multi-Output Regression kehtay hain.
    </div>
</body>

In [3]:
data = {
    "Experience": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Working_Hours": [35, 37, 40, 42, 45, 47, 50, 52, 55, 58],
    "Salary": [25000, 27000, 30000, 33000, 37000, 40000, 45000, 50000, 55000, 60000],  # Target 1
    "Bonus": [2000, 2200, 2500, 2800, 3200, 3500, 4000, 4500, 5000, 5500]  # Target 2
}

# DataFrame Create
df = pd.DataFrame(data)

df

   Experience  Working_Hours  Salary  Bonus
0           1             35   25000   2000
1           2             37   27000   2200
2           3             40   30000   2500
3           4             42   33000   2800
4           5             45   37000   3200
5           6             47   40000   3500
6           7             50   45000   4000
7           8             52   50000   4500
8           9             55   55000   5000
9          10             58   60000   5500

In [4]:
# Independent Variables (Features)
X = df[["Experience", "Working_Hours"]]

# Dependent Variables (Targets)
y = df[["Salary", "Bonus"]]

In [5]:
X

   Experience  Working_Hours
0           1             35
1           2             37
2           3             40
3           4             42
4           5             45
5           6             47
6           7             50
7           8             52
8           9             55
9          10             58

In [6]:
y

   Salary  Bonus
0   25000   2000
1   27000   2200
2   30000   2500
3   33000   2800
4   37000   3200
5   40000   3500
6   45000   4000
7   50000   4500
8   55000   5000
9   60000   5500